@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto&family=Vidaloka&family=Fira+Code&family=Ultra:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './shared/styles/style.index.scss';

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

#root {
  height: 100%;
}

body {
  font-family: 'Roboto', 'Vidaloka', sans-serif !important;
  height: calc(var(--availableViewportHeight) * 100);

  * {
    box-sizing: border-box;
  }
}

* {
  font-family: 'Roboto', 'Vidaloka', sans-serif !important;
}

button,
a {
  cursor: pointer;
}

// to hide the scrollbar on mobile devices
::-webkit-scrollbar {
  width: 0px;
}

@media only screen and (min-width: 1101px) {
  @include appScrollbar;
}